* {
  box-sizing: border-box;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

h1 {
  margin-top:20px;
  margin-bottom:20px;
}

.paragraph {
  text-align: center;
  border:3px solid black;
  background: gray;
  margin: 20px auto 0px;
}

.menu-description {
  margin: 10px 30px 10px 30px;
}

.nav-link {
  background-color: white;
  border: 1px solid
}

.navbar{
   background-color: gray;
   margin: auto;
}


.navbar-brand {
  margin-bottom: 20px;
}

.navbar-default .navbar-brand{
  color: black;
  }

.navbar-default .navbar-nav>li>a {
  color: black;
  }

.row{
  padding: 0px 20px 0px 20px;
}
.navbar-collapse.in {
  overflow-y: auto;
  background-color: white;
}
.navbar-default{background-color: gray}

@media (max-width: 767px) {
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 3px solid black;
    }
  
    ul.separator {
      list-style: none;
      padding: 0;
      width: 100%;
    }
    
    ul.separator li {
      padding: .5em 0;
      border-bottom: 1px solid black;
    }
}
